#print-container {
	display: none;
}

.alert {
	margin: 1rem;
}

html, body, #page-container {
	height: 100%;
}

#step0 {
	background: linear-gradient(to bottom right, #003572, #0063cd);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#step0-inner {
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
}

#step0-text {
	color: white;
	font-size: 3rem;
	font-weight: 600;
	display: block;

	margin-bottom: 40px;
}

#step0-btn {
  margin-top: 40px;
	font-size: 2rem;
	border-radius: 0.6rem;
}

.card-header .custom-checkbox {
	display: inline-block;
	margin-left: 0.25rem;
}

.custom-control-label::before,
.custom-control-label::after {
	top: 0px;
	width: 1.5rem;
	height: 1.5rem;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
	background-color: #fff !important;
	border-color: #adb5bd !important;
}
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::after {
	background-image: none !important;
}

.level-1 > .card-header {
	background-color: #003572;
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
}

.card-header > a {
	color: #fff;
	margin-right: 1rem;
}

.card-header > span {
	margin-right: 1rem;
}

.card-header > .btn {
	margin-right: 0.5rem !important;
}

.card-header > .btn {
	color: #fff;
}

.card-body {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0.5rem;
	padding-right: 0;
}

.btn-group {
	width: 100%;
	display: inline-block;
	padding-bottom: 1rem;
}

#step2 {
	padding-top: 1rem;
}

#step3 {
	padding-top: 2rem;
}

#step3-text {
	font-size: 1.5rem;
}

#step3-table {
	margin-top: 2rem;
	font-size: 1rem;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background-color: #808080;
	background-color: #000000;
}

.overlay-back {
	position: absolute;
	top: 20px;
	left: 30px;
	cursor: pointer;
	font-size: 1.5rem;
	padding: 0.2rem;
	background-color: rgba(192, 192, 192, 0.5);
	border-radius: 4px;
	z-index: 100000;
}

.overlay-iframe {
	height: 100%;
	width: 100%;
	border: 0;
}

.overlay-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	width: 100%;
}

.hide {
	display: none !important;
}
